@mixin cloud{
  opacity: 90%;
  filter:blur(2px);
  position: absolute;
  object-fit: cover;
  z-index: 0;
  transition-duration: 0.25s;
}
.clouds{
  animation: initial-animation 2.5s forwards ease-in-out ;
  animation-delay: 1.5s;
  opacity: 0;
  overflow-x: clip;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  .cloud1{
    width:fit-content;
    height: 15rem;
    @include cloud;
    bottom: 50vh;
    right: 35%;
    animation: cloud-anim 4s infinite alternate ease-in-out ;
    animation-delay: 1s;
  }
  .cloud2{
    width: 23rem;
    height: 15rem;
    animation: cloud-anim 5s infinite alternate ease-in-out ;
    @include cloud;
    bottom: 43vh;
    left: 28%;
  }
  @keyframes cloud-anim {
    100%{
      transform: translatey(2vh);
    }
  }
  @keyframes initial-animation {
    100%{
      opacity: 1;
    }
  }

  @media (max-width: 768px) {

    .cloud1 {
      bottom: 40vh;
      right: 0;
    }
    .cloud2 {
      bottom: 30vh;
      left: -10vw;
    }

  }
}